---
import SectionContainer from "@components/SectionContainer.astro";
import Intro from "@components/Intro.astro";
import Layout from "../layouts/Layout.astro";
import ScrollBrand from "@components/ScrollBrand.astro";
import ProjectsCarrousel from "@components/ProjectsCarrousel.astro";
import AboutMe from "@components/AboutMe.jsx";
import CertificatesCarrousel from "@components/CertificatesCarrousel.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section id="inicio">
    <Intro />
  </section>
  <section id="proyectos">
    <SectionContainer id="proyectos">
      <ScrollBrand />
      <ProjectsCarrousel />
    </SectionContainer>
  </section>
  <section id="sobre-mi">
    <SectionContainer>
      <AboutMe client:load />
    </SectionContainer>
  </section>
  <section id="certificados">
    <SectionContainer>
      <CertificatesCarrousel />
    </SectionContainer>
  </section>
</Layout>
