---
import Download from "src/icons/Download.astro";
---

<button class="bg-gray-200 rounded-md italic text-slate-950 px-2 py-1">
  <Download class="w-6 h-6 inline-block" />
  <span>download CV</span>
</button>
