---
import Download from "src/icons/Download.astro";
import perosnalCV from "/CV/CV_RONALDO_MOCTEZUMA.pdf";
---

<a
  href={perosnalCV}
  target="_blank"
  rel="noopener noreferrer"
  class="bg-gray-200 rounded-full italic text-slate-950 px-3 py-2
         transition-all duration-300 ease-in-out
         hover:bg-gray-300 hover:shadow-lg hover:scale-105"
>
  <Download class="w-6 h-6 inline-block" />
  <span>download CV</span>
</a>
