---
const navItems = [
  {
    title: "Inicio",
    label: "un poco de mi",
    url: "/#inicio",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Certificados",
    label: "certificados",
    url: "/#certificados",
  },
];
---

<header
  class="fixed top-0 z-10 flex flex-col items-center justify-center w-full mx-auto mt-2 md:mt-6"
>
  <nav
    class="flex flex-row items-center justify-center gap-2 px-4 py-1 bg-gray-800/80 backdrop-blur-md rounded-full md:gap-4"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-1 text-xs transition hover:text-red-500 dark:hover:text-red-500 md:px-4 md:py-2 md:text-base"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>


